@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(0, 32, 70); 
  background-image: url('./component/image/BG.jpg'); 
  background-size: 1482px; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.boderBox {
  background-color: rgb(29,78,216); 
  border-radius: 10px; 
  width: 500px; 
  height: 320px;
  padding: 20px; 
}